.DS_Store
/packages/app/dist
yarn-error.log
npm-debug.log
lerna-debug.log
node_modules
/coverage
/typings
/packages/app/webpack/webpack-assets.json
.nyc_output
/packages/app/tests/output

/packages/**/*.js
/packages/**/*.js.map
!/packages/app/webpack/*.js
!/packages/app/siteTemplate.js
!/packages/test-helpers/*.js
!/packages/test-helpers/**/*.js
!/packages/app/tests/**/*.js

rea-app/packages/tests/app/tests

.idea/*
